@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,500&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box ;
}
html{
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    position: relative;
    width: 58%;
    height: 75%;
    background: #fff;
    box-shadow: 0px 0px 50px -1px rgba(0, 0, 0, .5);
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .logo{
     position: absolute;
     top: 0;
     left: 10%;
     width: 250px;
     height: 350px;
     background: #282828;
     transition:1s linear;

}
header .logo h1
{
  color: #fff;
  text-align: center;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
}
header .logo img
{
  width: 300px;
  margin: 20px 0px 0px -30px;
  filter: drop-shadow(0px 0px 20px rgb(0,0,0 .60));

}
header nav{
    width: 100%;
    height: 10%;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .menu
{
    font-size: 25px;
    color: #000
}
header nav .right_menu
{
    display: flex;
    align-items: center;
}
header nav .right_menu ul
{
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav .right_menu ul li
{
  padding: 3px 10px;
}
header nav .right_menu ul li a
{
    position: relative;
    text-decoration:none;
    font-size: 11px;
    font-weight: 600;
    color:#000;
    transition: .3s linear;
}
header nav .right_menu ul li a::before
{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background:#dc1313;
  border-radius:50% ;
  bottom: -5px;
  left: 45%;
  opacity: 0;
  transition: .3s linear;
}
header nav .right_menu ul li a:hover
{
  color: #dc1313
}

header nav .right_menu ul li a:hover::before
{
  opacity: 1;
}
header nav .right_menu .user_cart
{
  margin-left: 50px;
  display: flex;
  align-items: center;
}
header nav .right_menu .user_cart .user
{
position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;

}
header nav .right_menu .user_cart .user img
{

  width: 100%;
}

header nav .right_menu .user_cart .user::before
{
position: relative;
 content: '';
 position: absolute;
 width: 5px;
 height: 5px;
 background:#dc1313;
 border-radius: 50%;
 top:0;
 right: 0;
 z-index: 9999;
}



header .left_menu
{
    width:20px;
    height: 90%;
    /*border: 1px solid red  ; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .left_menu a
{
    margin: 30px 0px;
    padding-inline-start: 0px 5px;
    text-decoration: none;
    font-size: 10px;
    color:#000;
    font-weight: 600;
    transition: .3s linear;
    transform: rotate(-90deg);
}
header .left_menu a:hover
{
  color:#dc1313 ;
}
header section
{
    width: 97%;
    height: 90%;
   /* border: 1px solid greenyellow; */
}
header section .content
{
    position: relative;
    left: 370px;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: 1s linear;

}
header section .content h1{
    font-size: 40px;
    transition: 1s linear;
}
header section .content p
{
    font-size: 10px;
    font-weight: 600;
    width: 290px;
    word-break: break-all;
    
}
header section .content .price_order
{
   display: flex;
   align-items: center;
   margin: 10px;
    
}
header section .content .price_order .price h2
{
  font-size: 20px;
  color:#dc1313;
  line-height: 18px;
}
header section .content .price_order .price p
{
 font-size: 5.5px;
 width: 50px;
 /*border:1px solid #000;*/
}
header section .content .price_order a
{
  padding: 4px 20px;
  background: #121213;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-left: 35px;
}